body{
    justify-content: center;
    text-align: center;
    background-color: #000;
}

h1{
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

img {
    width: 450px;
}
#divGeneral {
  justify-items: center;
  flex-direction: column;
  
}

.fila {
  display: flex;
}

.celula {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
}

.viva {
  background-color: green;
}

.morta {
  background-color: #000;
}